.image-wrapper-background {
  margin: 0 auto;
  width: 982px;
  height: 382px;
  overflow: hidden;
}
.image-wrapper-background .image-wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 982px;
  height: 100%;
}
.image-wrapper-background .image-wrapper .images {
  position: absolute;
  left: 0;
  width: 982px;
  height: 100%;
  display: flex;
  transition: 0.8s;
}
.image-wrapper-background .image-wrapper .images img {
  width: 982px;
  height: 100%;
}
.image-wrapper-background .left-angle {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  cursor: pointer;
}
.image-wrapper-background .left-angle i {
  font-size: 40px;
  color: #c20c0c;
}
.image-wrapper-background .right-angle {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.image-wrapper-background .right-angle i {
  font-size: 40px;
  color: #c20c0c;
}
.image-wrapper-background .min {
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.image-wrapper-background .min li {
  margin: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a6a8ac;
  cursor: pointer;
}
.image-wrapper-background .min li:hover {
  background: linear-gradient(135deg, #fd3434, #727272);
}
.image-wrapper-background .min .image-button.active {
  background: linear-gradient(135deg, #fd3434, #727272);
}
.main-wrapper-background {
  width: 100vw;
  min-width: 982px;
  height: 1203px;
}
.main-wrapper-background .main-wrapper {
  width: 982px;
  height: 1203px;
  margin: 0 auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
}
.main-wrapper-background .main-wrapper a {
  color: #333333;
}
.main-wrapper-background .main-wrapper .songs-wrapper {
  width: 730px;
  height: 1203px;
  border-right: 2px solid rgba(131, 131, 131, 0.8);
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend {
  width: 730px;
  height: 401px;
  position: relative;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-recommend-head {
  margin: 0 auto;
  width: 700px;
  height: 40px;
  border-bottom: 2px solid #c10d0c;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-recommend-head .songs-recommend-head-title {
  font-size: 20px;
  line-height: 40px;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-recommend-head .circle {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  border-radius: 50%;
  text-align: center;
  background-color: #c10d0c;
  float: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-recommend-head .circle .inner-circle {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: 1.2px;
  left: 0.3px;
  background-color: rgba(255, 255, 255);
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-recommend-head .classname {
  margin: 0 8px;
  color: #666666;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-recommend-head .classname:hover {
  text-decoration: underline;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-recommend-head .vertical {
  position: relative;
  top: -1.5px;
  color: rgba(204, 214, 227, 0.7);
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-left {
  font-size: 30px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  left: 5px;
  z-index: 55;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-left i {
  color: #c20c0c;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-right {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  z-index: 55;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-right i {
  color: #c20c0c;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-circle-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  z-index: 12;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-circle-list li {
  cursor: pointer;
  margin: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(225, 225, 225, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-circle-list li:hover {
  background-color: rgba(119, 119, 119, 0.7);
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-circle-list .songs-circle.active {
  background-color: rgba(119, 119, 119, 0.7);
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-scroll {
  height: 361px;
  display: flex;
  position: relative;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-scroll ul {
  height: 361px;
  display: flex;
  flex: none;
  width: 730px;
  flex-flow: wrap;
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  left: 0;
  bottom: 0;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-scroll ul li {
  padding: 10px 31.25px;
  height: 180.5px;
  width: 182.5px;
  flex: none;
  font-size: 15px;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-scroll ul li .songs-picture img {
  transition: 0.8s;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-scroll ul li .songs-picture img:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main-wrapper-background .main-wrapper .songs-wrapper .songs-recommend .songs-scroll .active {
  opacity: 1;
  z-index: 11;
}
.main-wrapper-background .main-wrapper .songs-wrapper .self-recommend .songs-scroll .self-recommend-songs {
  opacity: 1;
}
.main-wrapper-background .main-wrapper .songs-wrapper .new-songs .songs-scroll .new-recommend-songs {
  opacity: 1;
}
.main-wrapper-background .main-wrapper aside {
  width: 252px;
  height: 1203px;
}
.main-wrapper-background .main-wrapper aside .user {
  width: 252px;
  height: 100px;
  display: none;
}
.main-wrapper-background .main-wrapper aside .user .avatar {
  float: left;
  padding: 10px;
  width: 82px;
  height: 82px;
}
.main-wrapper-background .main-wrapper aside .user .avatar img {
  width: 80px;
  height: 80px;
}
.main-wrapper-background .main-wrapper aside .user .information {
  width: 152px;
  height: 100px;
  float: right;
}
.main-wrapper-background .main-wrapper aside .user .information .id {
  font-size: 18px;
  padding: 10px;
  height: 40px;
  padding-left: 17px;
  color: #333333;
}
.main-wrapper-background .main-wrapper aside .user .information .level {
  border: 1px solid rgba(208, 208, 208, 0.7);
  background-color: rgba(251, 251, 251, 0.7);
  display: block;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  margin-left: 10px;
  width: 50px;
  border-radius: 10px;
  height: 20px;
}
.main-wrapper-background .main-wrapper aside .user .information .space {
  margin: 10px auto;
  display: flex;
  height: 60px;
  justify-content: space-around;
}
.main-wrapper-background .main-wrapper aside .user .information .space li {
  height: 15px;
  font-size: 16px;
}
.main-wrapper-background .main-wrapper aside .user .information .space li a {
  color: #666666;
}
.main-wrapper-background .main-wrapper aside .user .information .space li a:hover {
  color: #0c73c2;
}
.main-wrapper-background .main-wrapper aside .aside-recommend {
  width: 252px;
  height: 367.666px;
}
.main-wrapper-background .main-wrapper aside .aside-recommend .aside-recommend-head {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #838383;
}
.main-wrapper-background .main-wrapper aside .aside-recommend .aside-recommend-head .left {
  line-height: 30px;
  float: left;
  font-weight: 600;
  color: #333333;
}
.main-wrapper-background .main-wrapper aside .aside-recommend .aside-recommend-head .right {
  cursor: pointer;
  line-height: 30px;
  float: right;
  color: #666666;
}
.main-wrapper-background .main-wrapper aside .aside-recommend .aside-recommend-head .right i {
  display: inline-block;
  margin-left: 5px;
}
.main-wrapper-background .main-wrapper aside .aside-recommend .aside-recommend-head .right:hover {
  text-decoration: underline;
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul {
  height: 337.666px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul li {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul li:hover {
  background-color: rgba(144, 144, 144, 0.5);
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul li img {
  vertical-align: top;
  width: 50px;
  height: 50px;
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul li .name {
  font-weight: 550;
  position: absolute;
  top: 6px;
  left: 60px;
  font-size: 20px;
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul li .introduce {
  position: absolute;
  bottom: 4px;
  left: 60px;
  color: #666666;
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul li button {
  cursor: pointer;
  position: relative;
  left: 22.68px;
  height: 30px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 10px;
  outline: none;
  box-shadow: none;
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul li button:hover {
  background-color: rgba(185, 185, 185, 0.5);
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul .application {
  background-color: transparent;
}
.main-wrapper-background .main-wrapper aside .aside-recommend ul .application:hover {
  background-color: transparent;
}
.main-wrapper-background .main-wrapper aside #aside-singers {
  display: none;
}
.audio-wrapper audio {
  display: none;
}
.find-music-recommend {
  background-color: #9b0909;
}
#imgBackground {
  position: absolute;
  top: 104px;
  z-index: -1;
  left: 0;
  width: 100vw;
  height: 382px;
  background-image: url();
  background-position: center;
  background-size: cover;
  overflow: hidden;
  opacity: 0.5;
}
#listName1:hover {
  text-decoration: underline;
}
#listName2:hover {
  text-decoration: underline;
}
#listName3:hover {
  text-decoration: underline;
}
#listName2 {
  display: block;
  text-align: center;
  margin-top: 10px;
}
#listName3 {
  display: block;
  text-align: center;
  margin-top: 10px;
}
